@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.playwrite {
  font-family: "Playwrite GB S", cursive; 
  font-style: normal;
}
body{
  background: #fff;
  color: #111;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}
html{
  scroll-behavior: smooth;
}